[Unit]
Description=Fluent Bit - Lightweight Log Processor
Documentation=https://docs.fluentbit.io/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/fluent-bit -c /etc/fluent-bit/fluent-bit.conf
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

